body {
    background-color: #fefeee;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: left;
    width: 80%;
    max-width: 600px;
  }
  
  h1 {
    color: #237732;
    text-align: center;
  }
  
  form {
    margin-bottom: 2em;
  }
  
  input[type="file"],
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #uploadResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  #uploadResult:not(:empty) {
    background-color: #f0f0f0;
  }
  