<html>
  <head>
    <title>chat</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/common.css">
  </head>
  <body>
    <div class="line">
      <div id="room" class="line-header">chat room</div>
      <div id="chat" class="line-container">{{.Pmsg}}</div>
      <div class="line-form">
        <input id="text" type="text">
        <button class="line-form-button" onclick="send_data()">Send</button> 
      </div>
    </div>
    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
